ion-col {
    justify-content: center;
    display: flex;
    height: 10vh;
}
.call-button{
    width: 25vh;
}
.call-button ion-icon{
    font-size: 55px;
}
ion-fab-button {
    --border-radius: 15vh;
    width: 14vh;
    height: 9vh;
    font-size: 47px;
}
ion-card{
    height: 9vh;
}
.phone-number{
    min-height: 40px;
    font-size: 40px;
    text-align: center;
}
.clearBtn{
    min-height: 70px;
    margin-left: 0px;
}